name: Deploy Hugo site to Pages

# 触发条件：当你向 main 分支 push 代码时自动运行
on:
  push:
    branches:
      - main  # 注意：如果你的本地主分支叫 master，请把这里改成 master

# 赋予 Action 写入 GitHub Pages 的权限
permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive  # 极其关键！强制拉取 Stack 主题的源代码
          fetch-depth: 0

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: 'latest'
          extended: true         # 极其关键！Stack 主题必须依赖 Extended 版本

      - name: Build
        run: hugo --minify       # 编译生成静态网页，并压缩代码体积

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./public         # 将生成的 public 文件夹上传

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deploy.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deploy
        uses: actions/deploy-pages@v4